*{
  margin: 0;
  padding: 0;
}
.inline{
  display: inline;
}
.altura{
  height: 100%;
}

.plomo{
  background-color: #E4E1E1;
}
.azul{
background-color:rgb(85, 36, 36);

}
.azul3{
  float: right;
  margin:5px;
}
.azul4{
  float: left;
  margin:5px;
}
.azul3:hover{
  background-color: rgb(85, 36, 36);
}
.azul2{
  background-color:teal;
  background-position: 100% 30%;
  background-size: 40% 80%;
  color:  WHITE;
	padding: 3px 15px 10px 20px;
	text-align: left;
	font-weight: 100;
	font-size: 25px;
  margin: 0 auto;
  width:100%;
  height: 100%;
  font-weight: bold;
  font-family: 'Exo', sans-serif;
  
}
.espacio{
  padding-left: 40px;
  margin:5px;
}
.block{
  
  display: block;
}
.margen_top{
  margin-top: 20px;
  margin-bottom: 20px;
}

.scroll{
  overflow: auto;
  height: 280px;
}
.left{
  text-align: left;
}

.table {
  border-collapse: collapse;/*juntamos los border por td y la tabla en si en uno solo*/

  border-radius: 6px;
  margin-bottom: 20px;
  margin-left:2px;
  margin-top:10px;
  margin-right: 2px;
  padding:20px;
  width:100%;
}
.centrar{
  text-align: center;
  align-content: center;
}
.recibo{
  text-align: center;
  align-content: center;
  margin-left:30px;
  margin-top: 59px;
}

.th:hover {background-color: rgb(85, 36, 36);;color: WHITE ;}/*selector de <tr> para resaltar filas,encabezados de la tabla en el mouse:*/
.tr:nth-child(even) {
  background-color: white
}
.th1:hover {background-color: rgb(85, 36, 36); ;color: WHITE ;}/*selector de <tr> para resaltar filas,encabezados de la tabla en el mouse:*/
.tr1:nth-child(even) {
  background-color: white
}
.input{
    width: 500px;
    padding: 12px 20px;
    margin: 20px 35px;
    display: inline-block;
    border: 1px solid rgb(43, 4, 12);
    color: black;
    border-radius: 4px;
    box-sizing: border-box;
    background-position: 2px 10px; 
    background-repeat: no-repeat;
}
.input2{
  width: 500px;
  text-align: center;
  padding: 12px 20px;
  margin: 20px 35px;
  display: inline-block;
  border: 1px solid lightblue;
  border-radius: 4px;
  box-sizing: border-box;
  background-position: 2px 10px; 
  background-repeat: no-repeat;
}
.label {
  text-align: left;
  display: block;
  margin-top:12px;
  color: white;
  font-weight: bold;
  font-weight: 100;
	font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  width: 150px;
}
label {
  text-align: left;
  display: block;
  margin-top:12px;
  color: black;
  font-weight: bold;
  font-weight: 100;
	font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  width: 150px;
}
.textarea { /*Utilice la resizepropiedad para evitar áreas de texto sea reducida  ,barra de desplazamiento*/
  width: 95%;
  color:black;
  float:center;
  height: 60%;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 12px;
  resize: none;
  margin:0px 6px 6px 3px;
}
.textareaNombre { /*Utilice la resizepropiedad para evitar áreas de texto sea reducida  ,barra de desplazamiento*/
  width: 95%;
  color:black;
  height: 40%;
  padding:5px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 12px;
  resize: none;
  margin:10px 6px 6px 3px;
}



.imprimir{
 float: right;
 margin-right:40px;
}
.mensaje{


 
   text-align: center;
   margin: .5em 0;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(70, 43, 53);
  font-size: 18px;
  margin-left:10px;
  margin-right:10px;
  margin-top:35px;
  margin-bottom: 35px;
 }
/* 
.pagination{
  display: inline-block;
}
.pagination li{
  display: inline;
}
.pagination li a{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    background: fuchsia;
    border: 1px solid #ddd; /* Gray *
    }
    /


.pagination li a:hover{
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  background: violet;
}
.pagination li a.active{
  background-color: #4CAF50;
    color: white;
} */
.margen2{
  margin-top: 20px;
  margin-left:0px;
 } 
.margen_izq{
  margin-left: 65px;
  margin-right: 20px;
}
.margen3{
  margin-left: 20px;
  margin-right: 20px;
}
.margen_der{
  margin-right: 30px;
}
.sin_margen{
  margin-right:10px;
  float:right;
}
.margen{
  
  padding-left: 10px;
  padding-right: 40px;
}
h3{
  background-color: rgb(231, 229, 229);
  color: rgb(0, 0, 0);
  padding-left:10px;
  padding-right: 10px;
  padding-top:2px;
  padding-bottom: 2px;
	text-align: left;
	font-weight: 100;
	font-size: 25px;
  height:80%;
 
  margin:10px 0px 10px 0px;
  width:100%;
  font-weight: bold;
  font-family: 'Exo', sans-serif;
  border-left:  12px solid  rgb(24, 52, 94);
  
}
h1{
  background-color:rgb(181, 185, 185);
  color: black;
	padding: 20px;
	text-align: center;
	font-weight: 100;
	font-size: 28px;
  width : 50%;
  margin: 0 auto;
  width:100%;
  font-weight: bold;
  font-family: 'Exo', sans-serif;
}
.fecha{
  color:rgb(88, 15, 24);
	padding: 12px;
	text-align: center;
	font-weight: 100;
	font-size: 28px;
  width : 50%;
  margin: 0 auto;
  width:100%;
  font-weight: bold;
  font-family: 'Exo', sans-serif;
}
.Seleccionado{
	padding: 0px;
	text-align: center;
  font-weight: 100;
  height: 64px;
	font-size: 18px;
  margin: 0px;
  font-weight: bold;
  font-family: 'Exo', sans-serif;
  background-color: rgb(85, 36, 36);
  color:white;
}
.TabSeleccionado{
  color:rgb(85, 36, 36);
  font-weight: bold;

}
.bienvenido{
  color: black;
	padding: 20px;
	text-align: center;
	font-weight: 100;
	font-size: 40px;
  width : 50%;
  margin: 0 auto;
  width:100%;
  font-weight: bold;
  font-family: 'Exo', sans-serif;
}
.informacion{
  margin: 5px;
}
.fondo{
  margin:0px;
  padding: 100px;
  background-repeat:no-repeat;
  z-index: 9999;
  background-image: url("https://prod.media.larepublica.pe/720x405/larepublica/imagen/2017/12/12/noticia-san-marcos.jpg");
  width:100%;
  height:100%;
  position: fixed;
  background-size:100% 100%;
}
.fondo2{
  margin:0px;
  padding: 100px;
  background-repeat:no-repeat;
  z-index: 9999;
  width:85%;
  height:100%;
  background-size:100% 100%;
}



.menu{
  background-color:rgb(255, 255, 255);
  background-image: url("http://ogbu.unmsm.edu.pe/wp-content/uploads/2018/03/Imagen5.png");
  background-position: 100% 30%;
  background-repeat: no-repeat;
  background-size: 40% 80%;
  color: black;
	padding: 15px 25px;
	text-align: center;
	font-weight: 100;
	font-size: 25px;
  margin: 0 auto;
  width:100%;
  height: 120px;
  font-weight: bold;
  font-family: 'Exo', sans-serif;
}
.OGBU{
  background-color: white;
  background-image: url("http://ogbu.unmsm.edu.pe/wp-content/uploads/2018/03/Imagen5.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: black;
	text-align: center;
	font-weight: 100;
	font-size: 25px;
  margin: 0 auto;
  width:100%;
  height: 20%;
  font-weight: bold;
  font-family: 'Exo', sans-serif;
}
.h2{
  background-color:#410d14;
  color:  WHITE;
	padding: 5px 10px;
	text-align: left;
	font-weight: 80;
	font-size: 18px;
  margin : 0 auto;
  width:100%;
  height:100%;
  font-weight: bold;
  font-family: 'Exo', sans-serif;
}
.sanciones-titulo{
  color: black;
	padding: 5px 10px;
	text-align: center;
	font-weight: 80;
	font-size: 20px;
  margin : 0 auto;
  font-weight: bold;
  font-family: 'Exo', sans-serif;
}
.NT{
  background-color:rgb(255, 255, 255);
  padding-left:5px;
  padding-right: 5px;
  padding-top:5px;
  padding-bottom: 5px;
  margin: 10px 0px 10px 10px;
  width:80%;
  height: 100%;
  font-weight: bold;
  border-left: 1px solid rgb(206, 209, 212);
  border-top: 1px solid  rgb(206, 209, 212);
  border-right:  3px solid  rgb(206, 209, 212);
  border-bottom:  3px solid  rgb(206, 209, 212);
}
.sombra {
  background: rgb(217, 217, 231);
  padding-right: 15px;
  padding-bottom: 15px;
  width: 200px;
}
 
.sombra div {
  background: #FFF;
  width: 200px;
}
select {
  width: 50%;
  padding: 10px 12px;
  border: 1px solid lightsteelblue;
  border-radius: 4px;
  background-color: #f1f1f1;
  margin:0;

}
.margen_bottom{
  padding-bottom: 80px;
}
.botonazul{
 
  background-color:rgb(99, 21, 21);
  margin-left : 13px;
  margin-right:0px;
  margin-bottom: 10px;
  margin-top:10px;
  float:center;
  z-index:0; 
}
.botonazul:hover{
 
  background-color:rgb(49, 7, 7);
  margin-left : 13px;
  margin-right:0px;
  margin-bottom: 10px;
  margin-top:10px;
  float:center;
  z-index:0;
  font-weight: bold;
  font-family: 'Exo', sans-serif;
}
.botonazul2{
  background-color:rgb(104, 53, 53);
  margin-left : 13px;
  margin-right:0px;
  margin-bottom: 10px;
  margin-top:5px;
  float:right;
  z-index:0; 
}
.boton{
  background-color:rgb(104, 53, 53);
}
.boton:hover{
  color:white;
  background-color:rgb(124, 78, 78);
  font-weight: bold;
  font-family: 'Exo', sans-serif;
}
.botonazul2:hover{
  background-color:rgb(80, 29, 29);
  margin-left : 13px;
  margin-right:0px;
  margin-bottom: 10px;
  margin-top:5px;
  float:right;
  z-index:0; 
  font-weight: bold;
  font-family: 'Exo', sans-serif;
}
.back{
  margin : 5px;
  float:right;
  position: relative;
  z-index:0;
  background-color: none;
}
/* .boton{
  width:45px;
  height:45px;
  background-color:#215c75;
  color:white;
  margin: auto 0;
  padding:5px;
  align-content: center;
  border-radius: 50px;
  font-size:45px;
  text-align:center;
} */
/* .boton:hover{
  
  background-color: black;
  color:lightblue;
} */
.material-icons{
  font-size: 30px;
}

.center{
  text-align: center;
}
.SplitPane1 {
  width: 100%;
  height: 100%;
}
.SplitPane {
  width: 90%;
  height: 100%;
  margin :0 auto;
}

.SplitPane-left1 {
  float: left;
  width: 10%;
  height: 100%;
}
.contenedor{
  background-color:rgb(186, 190, 214);
  border: none;
  height: 35px;
  padding: 5px 5px;
  margin: 3px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.SplitPane-right1 {
  float: right;
  width: 90%;
  height: 100%;
}
.logo{
  font-size: 50px;
  color: white;
  background-color:rgb(59, 8, 13);
  border-radius:50px;
  margin:8px;
  padding:10px;
  border: 2px solid white;
  z-index: 0;
  
}
.logo1{
  font-size: 30px;
  color: white;
  background-color:rgb(88, 15, 24);
  border-radius:50px;
  margin:0px;
  padding:10px;
  z-index: 0;
}
h4{
  font-size: 35px;
  color: black;
  float:left;
  margin-top:15px;
  margin-left:10px;
  margin-bottom:3px;
  font-weight: bold;
}

.negro{
  color: black;
}
.datos{
  margin-bottom: 15px;
  margin-top: 10px;
}
.Alumno{
  color: #215c75;
  
}
.center{
  text-align: center;
}

.SplitPane {
  width: 90%;
  height: 100%;
  margin :0 auto;
}
.SplitPane1 {
  width: 100%;
  height: 100%;
  margin :0 auto;
}
.SplitPane2 {
  width: 95%;
  height: 100%;
  margin :0 auto;
}

.SplitPane-left {
  float: left;
  width: 30%;
  height: 100%;
}

.SplitPane-center {
  float: center;
  width: 40%;
  height: 100%;
}
.SplitPane-right {
  float: right;
  width: 30%;
  height: 100%;
}
.SplitPane-Der {
  float: left;
  width: 30%;
  text-align:center;
  height: 100%;
}

.SplitPane-Izq1 {
  float: left;
  width: 70%;
  height: 100%;
}
.SplitPane-Der1 {
  float: left;
  width: 30%;
  text-align:center;
  height: 100%;
}
.input{
  width:300px;
  height: 45px;
  margin:5px;
  display: inline-block;
  border: 1px solid lightblue;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  
}
.SplitPane-Izq {
  float: left;
  width: 70%;
  height: 100%;
}
.contenedor{
  background-color:rgb(186, 190, 214);
  border: none;
  height: 35px;
  padding: 5px 5px;
  margin: 3px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.topnav {
  overflow: hidden;
  background-color: rgb(11, 45, 61);
  border-radius:4px 4px 0px 0px;
}
.colortd{

  border-radius:10px;
  border: 2px solid white;
  background-color:rgb(230, 230, 230);

  height: 100px;
  width: 200px;
    /*text-align: center;Alineamos el texto al centro ---th por defecto esta alineado al centro*/
     /* vertical-align: bottom; Alineamos el texto verticalmente hacia abajo*/
    padding: 10px;
    margin:5px;
    font-weight: bold;
    font-family: 'Exo', sans-serif;
    cursor: pointer;
}
.colorth{
  width: 200px;
  height: 50px;
  text-align: center;/*Alineamos el texto al centro ---th por defecto esta alineado al centro*/
   /* vertical-align: bottom; Alineamos el texto verticalmente hacia abajo*/
  padding: 10px;
  background-color: rgb(46, 13, 13);
  color: white;
  border-radius:10px;
  font-family: 'Exo', sans-serif;
  font-weight: bold;
}
.vista{

  padding: 20px 35px 10px 20px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
  margin:0px auto;
  width: 350px;
  height: 400px;
  background:rgb(230, 222, 222,0.76);
}
.vistaCard{

  padding: 10px 15px 10px 15px;
  text-decoration: none;
  display: block;
  color:white;
  margin-top:25px;
  margin-left:100px;
  margin-right: 70px;
  margin-bottom: 10px;
  width: 80%;
  height: 100%;
  background-color:rgb(95, 60, 60);}

.leyenda{

    list-style-type: none;
    margin: 0px;
    padding:10px;
    background-color:rgb(228, 228, 228);
    width: 95%;
    height:300px;
    margin-left:10px;
    margin-top:20px;
  
}
.vistaNivelTurno{
  padding: 15px 20px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  background-color: #d1d3d1;
  width: 100%;
  margin-bottom: 5px;
}
.vistaCasaDetalle{
  padding: 30px 40px;
  text-decoration: none;
  display: block;
  border-radius: 9px;
  background-color: #98c7e0;
  width: 100%;
  height: 350px;
  margin-bottom: 5px;
}
.vistaFiltro{
  margin-left:0px;
  margin-right: 2px;
  padding-left:5px;
  padding-top: 5px;
  padding-right:15px;
  border-right: 3px solid rgb(0, 0, 0);
  width: 100%;
  height:100%;
}

.numero {
  margin: 0 0 0 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.numero li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  height: 1.8em;
  border-radius:4px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
 
.numero li:hover {
  color: #607D8B;
  background-color: #DDD;
}
 
.button {
  background-color: #092531;
  margin-top: 10px;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
  margin-left:2px;
  margin-right: 2px;
  float:right;
}
.seleccionar {
  color: black;
  cursor: pointer;
  cursor: hand;
  
}
delete {
  position: relative;
  float:right;
  background-color: gray;
  color: white;
}
.button:hover{
  background-color: gray;
  color:black;
}
.th{
  width: 200px;
  height: 50px;
  text-align: center;/*Alineamos el texto al centro ---th por defecto esta alineado al centro*/
   /* vertical-align: bottom; Alineamos el texto verticalmente hacia abajo*/
  padding: 1px;
  background-color: rgb(46, 13, 13);;
  color: white;
  border: 3px solid WHITE;
  border-radius: 15px;
  /*border-bottom: 1px solid #ddd;para borde solo horizontal*/
  }
.td{
    height: 100px;
    width: 200px;
    /*text-align: center;Alineamos el texto al centro ---th por defecto esta alineado al centro*/
     /* vertical-align: bottom; Alineamos el texto verticalmente hacia abajo*/
    padding: 10px;
    border: 3px solid WHITE;
    background-color: rgb(219, 219, 219);
    font-weight: bold;
    font-family: 'Exo', sans-serif;
    cursor: pointer;
    /*border-bottom: 1px solid #ddd;para borde solo horizontal*/
}
.th1{
  width: 800px;
  height: 50px;
  text-align: center;/*Alineamos el texto al centro ---th por defecto esta alineado al centro*/
   /* vertical-align: bottom; Alineamos el texto verticalmente hacia abajo*/
  padding: 1px;
  background-color:rgb(46, 13, 13);
  color: white;
  border: 3px solid WHITE;
  border-radius: 15px;
  /*border-bottom: 1px solid #ddd;para borde solo horizontal*/
  }
.td1{
    height: 200px;
    width: 900px;
    text-align: center;/*Alineamos el texto al centro ---th por defecto esta alineado al centro*/
     /* vertical-align: bottom; Alineamos el texto verticalmente hacia abajo*/
    padding-left: 5px;
    padding-right: 5px;
    border: 3px solid WHITE;
    background-color: rgb(219, 219, 219);
    font-weight: bold;
    float:center;
    font-family: 'Exo', sans-serif;
    /*border-bottom: 1px solid #ddd;para borde solo horizontal*/
}
textarea { /*Utilice la resizepropiedad para evitar áreas de texto sea reducida  ,barra de desplazamiento*/
  width: 100%;
  height: 100px;
  padding: 20px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 12px;
  resize: none;
  margin: 0 auto;
  background-color: rgb(219, 219, 219);
  margin-bottom: 10px;
}
.thNT{
  height: 20px;
  
  text-align: center;/*Alineamos el texto al centro ---th por defecto esta alineado al centro*/
   /* vertical-align: bottom; Alineamos el texto verticalmente hacia abajo*/
  padding: 10px 25px;
  background-color:rgb(46, 13, 13);;
  color: white;
  border: 3px solid WHITE;
  border-radius: 8px;
  /*border-bottom: 1px solid #ddd;para borde solo horizontal*/
  }
  .tdNT{
    height: 10px;
    text-align: center;/*Alineamos el texto al centro ---th por defecto esta alineado al centro*/
     /* vertical-align: bottom; Alineamos el texto verticalmente hacia abajo*/
    padding: 5px;
    border: 3px solid WHITE;
   
    /*border-bottom: 1px solid #ddd;para borde solo horizontal*/
  }
  .tableNT {
    border-collapse: collapse;/*juntamos los border por td y la tabla en si en uno solo*/
    width: 100%;
    border: 3px solid WHITE;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  
  .thNT:hover {background-color: rgb(58, 25, 25); ;color: WHITE ;}/*selector de <tr> para resaltar filas,encabezados de la tabla en el mouse:*/
  .trNT:nth-child(even) {background-color: white}
  
.ula {
    list-style-type: none;
    margin: 0px;
    padding:0px;
    background-color:rgb(46, 6, 6);
    width: 15%;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.cabecera {
  list-style-type: none;
  margin: 0px;
  padding:10px;
  background-color:rgb(46, 6, 6);
  width: 100%;
  height:70px;
}
li a {
    display: block;
    color:white;
    padding: 16px 16px;
    text-decoration: none;
    text-align: center;
}

li a.active {
    background-color: rgb(0, 0, 0);
    color: black;
}
li a:hover:not(.active) {
    background-color:rgb(85, 36, 36);
    color: white;
    cursor: hand;
    cursor: pointer;  
}
.vistaderecha{
  margin-left:15%;
  margin-right:0px;
  margin-bottom: 0px;
  margin-top:0px;
  padding:0px;
  z-index:0; 

}
.salir{
  float:right;
  cursor:hand;
  cursor:pointer;
  color:white;
  margin-top:15px;
  margin-bottom:10px;
  margin-right:12px;

}
.salir2{
  float:left;
  cursor:hand;
  cursor:pointer;
  color:white;
  margin-top:15px;
  margin-bottom:10px;
  margin-left:8px;

}
.th3{
width:200px;
height: 18px;
height: 18px;
  text-align: center;/*Alineamos el texto al centro ---th por defecto esta alineado al centro*/
   /* vertical-align: bottom; Alineamos el texto verticalmente hacia abajo*/
  padding: 3px 5px;
  background-color:rgb(46, 13, 13);;
  color: white;
  border: 2px solid #360d0d;
/*border-bottom: 1px solid #ddd;para borde solo horizontal*/
}

.td3{
  width:200px;
  height: 18px;
  height: 18px;
  text-align: center;/*Alineamos el texto al centro ---th por defecto esta alineado al centro*/
     /* vertical-align: bottom; Alineamos el texto verticalmente hacia abajo*/
    padding: 10px;
    border: 3px solid WHITE;
    font-weight: bold;
    font-family: 'Exo', sans-serif;
  }

entrar{
  text-align: center;
  align-content: center;
  margin-left: 15px;
  margin-right:15px;
}
.leve{
   color:black;
  font-weight: bold;
  background-color:yellow;
  padding:6px;
  width:100%;
  border-radius: 10px;
  text-align:center;

}
.media{
  color:black;
  font-weight: bold;
  background-color:orange;
  padding:6px;
  width:100%;
  border-radius: 10px;
  text-align:center;

}
.alta{
  color:black;
  font-weight: bold;
  background-color:red;
  padding:6px;
  width:100%;
  border-radius: 10px;
  text-align:center;
}
.Select-value {
  background-color: rgba(153, 153, 153, .08);
  color: rgb(77, 73, 73);
}
.descripcion{
  color:#360d0d;
  padding:4px;
  background-color:white;
  border-radius:7px;
  font-weight: bold;
}